div.plain {
    display: block;
	position: relative;
	margin: 30px auto;

	text-align: left;
	font-size: 10pt;
	
	word-wrap: break-word;

	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);

    padding: 20px;
	border: 0;
	vertical-align: baseline;
	color: black;
	font-family: Helvetica;
}

div.plain h1, div.plain h2, div.plain h3  {
    color: black;
    font-family: Helvetica;
}

div.plain h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.8em;
}

div.plain h2 {
    font-size: 1.0em;
    font-weight: bold;
    margin-top: 0.9em;
    margin-bottom: 0.6em;
}

div.plain h3 {
   font-size: 0.8em;
   font-weight: bold;
   margin-top: 0.2em;
   margin-bottom: 0.6em;
}

div.plain ol, div.plain ul {
  margin-left: 3em;
  margin-top: 1em;
  margin-bottom: 1.2em;
}

div.plain li {
  padding-top: 0;
}

div.plain p,
div.plain dfn,
div.plain ul,
div.plain ol,
div.plain input {
    font-size: 0.8em;
}

div.plain blockquote {
    width: 100%;
    font-size: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    line-height: 140%;
    border: none;
    box-shadow: none;
}


div.plain table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;    
}

div.plain table,
div.plain table tr,
div.plain table th,
div.plain table td {
    border-color: gray;
    border-style: solid;
    text-shadow: none;
    border-width: 1px;
}

div.plain thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
}

div.plain tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

div.plain tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit
}

div.plain table > tr {
    vertical-align: middle;
}

div.plain col {
    display: table-column
}

div.plain colgroup {
    display: table-column-group
}

div.plain tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-width: 1px;
}

div.plain td, th {
    display: table-cell;
    vertical-align: inherit;
    text-shadow: none;
    border-width: 1px;
    font-family: Helvetica;
}

div.plain th {
    font-weight: bold;
}

div.plain caption {
    display: table-caption;
    text-align: -webkit-center
}

div.plain ul, div.plain menu, div.plain dir {
    display: block;
    list-style-type: disc;
}

div.plain ol {
    display: block;
}

div.plain li {
    display: list-item;
    text-align: -webkit-match-parent;
}

div.plain ul ul, div.plain ol ul {
    list-style-type: circle
}

div.plain pre {
  box-shadow: none;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 11pt;
  vertical-align: baseline;
  color: black;
}

div.plain big {
  font-size: 130%;
}

div.plain tt {
  font-family: monospace;
  font-size: 80%;
}

img.plain {
  box-shadow: none;
  border: none;

  max-width: none;
  max-height: none;
  }
  
div.plain img {
  box-shadow: none;
  border: none;
}

div.plain input {
  font-size: 80%;
}

div.plain textarea {
  font-size: 80%;
}

div.plain select {
  font-size: 80%;
}

div.plain_clean {
    box-shadow: none;
    font-size: 80%; 
    padding: none;
    margin: none;
    font-family: Helvetica, Arial;
}

div.plain p {
  margin-bottom: 0.5em;
}